name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    env:
      IMAGE_NAME: pixer
      IMAGE_TAG: latest
      REGISTRY: docker.io

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Debug SONAR_HOST_URL (temporary)
        run: |
          echo "SONAR_HOST_URL: $SONAR_HOST_URL"
          curl -Is $SONAR_HOST_URL | head -n 1
        env:
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v1.2.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | sudo docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          sudo docker build -t $REGISTRY/${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:$IMAGE_TAG .

      - name: Run Trivy vulnerability scan
        run: |
          IMAGE=$REGISTRY/${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:$IMAGE_TAG
          echo "Scanning image: $IMAGE"
          sudo trivy image \
            --exit-code 1 \
            --severity HIGH,CRITICAL \
            --format table \
            "$IMAGE" | sudo tee trivy-report.txt > /dev/null

      - name: Upload Trivy report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-report.txt

      - name: Push Docker image
        run: |
          sudo docker push $REGISTRY/${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:$IMAGE_TAG

      - name: Stop and remove old container (if running)
        run: |
          sudo docker stop $IMAGE_NAME || true
          sudo docker rm $IMAGE_NAME || true

      - name: Run new container
        run: |
          sudo docker run -d --name $IMAGE_NAME -p 8080:80 $REGISTRY/${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:$IMAGE_TAG
